<div class="pageContent" >	
	<form class="pageForm required-validate"  enctype="multipart/form-data"
			onsubmit="return iframeCallback(this, dialogAjaxDone)" 
			th:object="${o}" th:action="@{/demo/upload/edit}" method="post">
		<input type="hidden" th:field="*{id}" />
		<input type="hidden" th:field="*{type}" />
		<input type="hidden" th:field="*{createTime}" />
		<div class="pageFormContent nowrap" layoutH="58">
			<div class="unit">
				<label>说明：</label>
				<input type="text" th:field="*{desc}" maxlength="50" class="required" />
			</div>
			<div class="unit">
				<label>选择文件：</label>
				<ul id="upload-preview" class="upload-preview">
					<li class="thumbnail" th:each="attach,stat:${attachList}">
						<img th:src="@{'/demo/attach/download/'+${attach.id}}" style="max-width: 80px; max-height: 80px">
					</li>
				</ul>
				<div class="upload-wrap" rel="#upload-preview">
					<input type="file" name="files" accept="image/*" class="valid" multiple="multiple">
				</div>
			</div>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
	
</div>
