<script th:inline="javascript">
$(function(){
	
	var $p = navTab.getCurrentPanel();

	var setting = {
		data: {
			key: {
				name: 'desc'
			},
			simpleData: {
				enable: true,
				pIdKey: 'parentId'
			}
		}
	};
	var url = [[@{'/vacant/menu/tree'}]];
	ajaxTodo(url,function(zNodes) {
		$.fn.zTree.init($('#menuTree',$p), setting, zNodes);
	});

	$('#addChild',$p).click(function(){
		var node = getSelectedNode();
		if(node==null) {
			alertMsg.error('请选择父节点');
			return;
		}
		var url = [[@{'/vacant/menu/add'}]];
		$.pdialog.open(url, "addMenu", "添加子菜单",{mask:true,data:{parentId:node.id},width:800,height:450});
	});

	$('#add',$p).click(function(){
		var url = [[@{'/vacant/menu/add'}]];
		$.pdialog.open(url, "addMenu", "添加子菜单",{mask:true,data:{parentId:'root'},width:800,height:450});
	});
	
	$('#addChild',$p).click(function(){
		var node = getSelectedNode();
		if(node==null) {
			alertMsg.error('请选择父节点');
			return;
		}
		var url = [[@{'/vacant/menu/add'}]];
		$.pdialog.open(url, "addMenu", "添加子菜单",{mask:true,data:{parentId:nodes[0].id},width:800,height:450});
	});
	
	function getSelectedNode() {
		var treeObj = $.fn.zTree.getZTreeObj("menuTree");
		var nodes = treeObj.getSelectedNodes();
		if(nodes.length==0) {
			return null;
		} else {
			return nodes[0];
		}
	}

	$('#delete',$p).click(function(){
		var node = getSelectedNode();
		if(node==null) {
			alertMsg.error('请选择要删除的节点');
			return;
		}
		alertMsg.confirm('将从所有角色中删除当前选中的菜单，确定删除吗？'+node.name, {
			okCall: function(){
				var id = $('#id', $p).val();
				var url = [[@{'/vacant/menu/delete?id='}]]+node.id;
				ajaxTodo(url, function(json){
					if (json[DWZ.keys.statusCode] == DWZ.statusCode.ok){
						alertMsg.correct(json.message);
						navTab.reload($p.attr('url'));
					} else {
						alertMsg.error(json.message);
					}
				});
			}
		});

	});

	$('#edit',$p).click(function(){
		var node = getSelectedNode();
		if(node==null) {
			alertMsg.error('请选择要修改的节点');
			return;
		}
		var url = [[@{'/vacant/menu/edit'}]];
		$.pdialog.open(url, "addMenu", "修改菜单"+node.name,
				{mask:true,data:{id:node.id},width:800,height:450});
	});

});
</script>
<input type="hidden" id="id" value="root" />
<input type="hidden" id="name" />
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li><a id="addChild" class="add"><span>添加子节点</span></a></li>
			<li class="line">line</li>
			<li><a id="add" class="add"><span>添加根结点</span></a></li>
			<li class="line">line</li>
			<li><a id="delete" class="delete"><span>删除</span></a></li>
			<li class="line">line</li>
			<li><a id="edit" class="edit"><span>修改</span></a></li>
		</ul>
	</div>
	<ul class="ztree" id="menuTree"></ul>
</div>
</html>