<script th:inline="javascript">
$(function(){
	
	var $p = navTab.getCurrentPanel();

	$('#tree a', $p).each(function(){
		var $this = $(this);
		$this.click(function(){
			$("#id", $p).val($this.attr('id'))
			$('#name', $p).val($this.text());
		});
	});
	
	$('#addChild',$p).click(function(){
		var parentId = $('#id', $p).val();
		var url = [[@{'/vacant/menu/add'}]];
		$.pdialog.open(url, "addMenu", "添加子菜单",{mask:true,data:{parentId:parentId},width:800,height:450});
	});

	$('#add',$p).click(function(){
		var url = [[@{'/vacant/menu/add'}]];
		$.pdialog.open(url, "addMenu", "添加子菜单",{mask:true,data:{parentId:'root'},width:800,height:450});
	});

	$('#delete',$p).click(function(){
		var id = $('#id', $p).val();
		if(id == 'root') {
			alertMsg.error('请选择要删除的节点。');
			return;
		}
		alertMsg.confirm('将从所有角色中删除当前选中的菜单，确定删除吗？'+$('#name',$p).val(), {
			okCall: function(){
				var url = [[@{'/vacant/menu/delete?id='}]]+id;
				ajaxTodo(url, function(json){
					if (json[DWZ.keys.statusCode] == DWZ.statusCode.ok){
						alertMsg.correct(json.message);
						navTab.reload($p.attr('url'));
					} else {
						alertMsg.error(json.message);
					}
				});
			}
		});

	});

	$('#edit',$p).click(function(){
		var id = $('#id', $p).val();
		var url = [[@{'/vacant/menu/edit'}]];
		$.pdialog.open(url, "addMenu", "修改菜单"+$('#name',$p).val(),
				{mask:true,data:{id:id},width:800,height:450});
	});

});
</script>
<input type="hidden" id="id" value="root" />
<input type="hidden" id="name" />
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li><a id="addChild" class="add"><span>添加子节点</span></a></li>
			<li class="line">line</li>
			<li><a id="add" class="add"><span>添加根结点</span></a></li>
			<li class="line">line</li>
			<li><a id="delete" class="delete"><span>删除</span></a></li>
			<li class="line">line</li>
			<li><a id="edit" class="edit"><span>修改</span></a></li>
		</ul>
	</div>
	<ul id="tree" class="tree treeFolder">
		<li th:each="menu:${menuList}">
			<a th:id="${menu.id}" th:text="${menu.xssx + ' ' + menu.name}">最低生活保障</a>
			<ul>
				<li th:each="model:${menu.children}">
					<a th:id="${model.id}" th:text="${model.xssx + ' ' + model.name}">低保户管理</a>
					<ul>
						<li th:each="resource:${model.children}">
							<a class="resource" th:id="${resource.id}"
									th:text="${resource.xssx + ' ' + resource.name + ',path=' + resource.path + ',rel=' + resource.rel + ',gybz=' + gybz}">低保户申请登记</a>
						</li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
</div>
</html>