.panel { overflow: hidden; text-align: left; }
.panel-header,
.panel-body { border-width: 1px; border-style: solid; }
.panel-header { padding: 5px; position: relative; background:url(../../../../../images/background/bg_win.gif) no-repeat; }
.panel-title {}
.panel-header-noborder { border-width: 0 0 1px 0; }
.panel-body { overflow: auto; border-top-width: 0px; }
.panel-body-noheader { border-top-width: 1px; }
.panel-body-noborder { border-width: 0px; }
.panel-with-icon { padding-left: 18px; }
.panel-icon,
.panel-tool { position: absolute; top: 50%; margin-top: -8px; height: 18px; overflow: hidden; }
.panel-icon { left: 5px; width: 16px; }
.panel-tool { right: 5px; width: auto; }
.panel-tool a { display: inline-block; width: 18px; height: 18px; vertical-align: top; }
.panel-loading { padding: 11px 0px 10px 30px; }
.panel-noscroll { overflow: hidden; }
.panel-fit,
.panel-fit body { height: 100%; margin: 0; padding: 0; border: 0; overflow: hidden; }
.panel-loading { background: url('images/loading.gif') no-repeat 10px 10px; }
.panel-tool-close { background:url(../../../../../images/btn/btn_close.png) no-repeat; }
.panel-tool-min { background: url('images/panel_tools.png') no-repeat 0px 0px; }
.panel-tool-max { background: url('images/panel_tools.png') no-repeat 0px -16px; }
.panel-tool-restore { background: url('images/panel_tools.png') no-repeat -16px -16px; }
.panel-tool-collapse { background: url('images/panel_tools.png') no-repeat -32px 0; }
.panel-tool-expand { background: url('images/panel_tools.png') no-repeat -32px -16px; }
.panel-header,
.panel-body { border-color: #95B8E7; }
.panel-header {  background:url(../../../../../images/background/bg_win.gif) no-repeat;}
.panel-body { background-color: #ffffff; color: #000000; font-size: 12px; }
.panel-title { font-size: 14px; font-weight: bold; color: #fff; height: 20px; line-height: 19px; background:url(../../../../../images/ico/ico_win.png) no-repeat 15px 3px; padding-left:30px; }
