<div class="pageHeader">
	<form id="pagerForm" onsubmit="return navTabSearch(this);" th:action="@{/demo/attach}" method="post" 
			th:object="${searchForm}"
			onreset="$(this).find('select.combox').comboxReset()">
	<input type="hidden" th:field="*{pageNum}" />
	<div class="searchBar">
		<table class="searchContent">
			<tr>
				<td>
					创建时间lk：<input type="text" th:field="*{conditions['create_time_lk']}" />
				</td>
				<td>
					每页行数：<input type="text" th:field="*{numPerPage}" style="width:22px" />
				</td>
				<td>
					<ul>
						<li><div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div></li>
					</ul>
				</td>
			</tr>
		</table>
	</div>
	</form>
</div>

<div class="pageContent" th:with="p=@{/demo/attach}">
	<table class="list" layoutH="90">
		<thead>
			<tr style="text-align: center">
				<th width="250">id</th>
				<th width="60">大小</th>
				<th width="400">路径</th>
				<th width="200">原始文件名</th>
				<th width="120">创建时间</th>
				<th width="40">操作</th>
			</tr>
		</thead>
		<tbody>
			<tr target="row_id" th:rel="${row.id}" th:each="row,stat:${book.page}" th:object="${row}">
				<td th:text="*{id}" style="text-align: center">6919feca-58f2-49f4-ae6a-ed911290ab5a</td>
				<td th:text="*{size}" style="text-align: right">230K</td>
				<td th:text="*{relative_path}">2019/05/17/6919feca-58f2-49f4-ae6a-ed911290ab5a.jpg</td>
				<td th:text="*{orig_name}">39843733.jpg</td>
				<td th:text="*{create_time}" style="text-align: center">2019-04-28 20:15:00</td>
				<td style="text-align: center"><a th:href="@{'/demo/attach/download/'+${row.id}}">下载</a></td>
			</tr>
		</tbody>
	</table>
	<div class="panelBar">
		<div class="pages">
			<span th:text="${'共'+book.stats['totalCount']+'条'}">共200条</span>
		</div>
		<div class="pagination" targetType="navTab" th:totalCount="${book.stats['totalCount']}" 
				th:numPerPage="${searchForm.numPerPage}"
				th:currentPage="${searchForm.pageNum}">
		</div>

	</div>
</div>