<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<script th:inline="javascript">
$(function(){
	var $p = $.pdialog.getCurrent();
	
	$('#s', $p).click(function(){
		var menus=[];
		var treeObj = $.fn.zTree.getZTreeObj("tree");
		var nodes = treeObj.getCheckedNodes(true);
		for(var i=0,len=nodes.length;i<len;i++) {
			menus[i]=nodes[i].id;
		}
		$('#menus', $p).val(menus.join());
	});
	
	var setting = {
		check: {
			enable: true,
			chkboxType:{'Y':'ps','N':'ps'}
		},
		data: {
			simpleData: {
				enable: true
			}
		}
	};
	var url = [[@{/vacant/role/menu/}]]+$('#id',$p).val();
	ajaxTodo(url,function(zNodes) {
		$.fn.zTree.init($('#tree', $p), setting, zNodes);
	});

});
</script>

<div class="pageContent" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	
	<form id="pageForm" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone)" 
			th:object="${role}" th:action="@{/vacant/role/save}" method="post">
		<input type="hidden" th:field="*{id}" />
		<input type="hidden" th:field="*{menus}" />
		<div class="pageFormContent nowrap" layoutH="58">
			<dl>
				<dt>角色名称：</dt>
				<dd>
					<input type="text" th:field="*{name}" maxlength="50" class="required" />
				</dd>
			</dl>
			<dl>
				<dt>菜单：</dt>
				<dd>
					<div layoutH="100" style="overflow:auto; width:100%; border:solid 1px #CCC;">
						<ul id="tree" class="ztree"></ul>
					</div>
				</dd>
			</dl>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit" id="s">提交</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>

			</ul>
		</div>
	</form>
</div>