<div class="pageContent" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	
	<form class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone)" 
			th:object="${menu}" th:action="@{/vacant/security/menu/save}" method="post">
		<input type="hidden" th:field="*{id}" />
		<input type="hidden" th:field="*{parentId}" />
		<div class="pageFormContent nowrap" layoutH="58">
			<dl>
				<dt>显示顺序：</dt>
				<dd>
					<input type="text" th:field="*{xssx}" class="digits required" />
				</dd>
			</dl>
			<dl>
				<dt>菜单名称：</dt>
				<dd>
					<input type="text" th:field="*{name}" maxlength="50" class="required" />
				</dd>
			</dl>
			<dl>
				<dt>资源路径：</dt>
				<dd>
					<input type="text" th:field="*{path}" maxlength="200" />
					<span class="info">&nbsp;叶节点应填写此项</span>
				</dd>
			</dl>
			<dl>
				<dt>rel：</dt>
				<dd>
					<input type="text" th:field="*{rel}" maxlength="50" />
					<span class="info">&nbsp;navTabId，如果path不为空，则rel不能为空</span>
				</dd>
			</dl>
			<dl>
				<dt>公用标志：</dt>
				<dd>
					<select class="combox" th:field="*{gybz}">
						<option value="">请选择</option>
						<option value="1">是</option>
						<option value="0">否</option>
					</select>
					<span class="info">&nbsp;如果path不为空，则此项不能为空。公用菜单不能分配给角色。</span>
				</dd>
			</dl>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
	
</div>


<script type="text/javascript">
function customvalidXxx(element){
	if ($(element).val() == "xxx") return false;
	return true;
}
</script>
