<div class="pageContent">
	
	<form class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone)" 
			th:object="${o}" th:action="@{/vacant/user/edit}" method="post">
		<input type="hidden" th:field="*{id}" />
		<input type="hidden" th:field="*{deptId}" />
		<div class="pageFormContent nowrap" layoutH="58">
			<dl>
				<dt>行政区划：</dt>
				<dd th:text="*{areaCode}">2201</dd>
			</dl>
			<dl>
				<dt>单位名称：</dt>
				<dd th:text="*{dept.name}">长春市民政局</dd>
			</dl>
			<dl>
				<dt>姓名：</dt>
				<dd th:text="*{name}">王琦</dd>
			</dl>
			<dl>
				<dt>用户名：</dt>
				<dd th:text="*{username}">cc-mz-wq</dd>
			</dl>
			<dl>
				<dt>状态：</dt>
				<dd>
					<select class="combox required" th:field="*{state}" >
						<option value="">请选择</option>
						<option value="有效" th:selected="*{state=='有效'}">有效</option>
						<option value="无效" th:selected="*{state=='无效'}">无效</option>
					</select>
				</dd>
			</dl>
			<dl>
				<dt>创建时间：</dt>
				<dd th:text="*{createTime}">2019-05-01 06:50:17</dd>
			</dl>
			<dl>
				<dt>角色：</dt>
				<dd>
					<select class="combox required" th:field="*{roleId}" >
						<option value="">请选择</option>
						<option th:each="role:${roleList}" th:value="${role.id}" 
								th:selected="${o.roleId==role.id}" th:text="${role.name}">管理员</option>
					</select>
				</dd>
			</dl>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
	
</div>
